<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Passcus.data" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Passcus.Properties.Settings.dataConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\data\data.mdb" providerName="System.Data.OleDb"/>
        <add name="Passcus.Properties.Settings.dataConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\data.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <userSettings>
        <Passcus.data>
            <setting name="otodata" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="idremember" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="otobackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ftphost" serializeAs="String">
                <value>185.27.134.11</value>
            </setting>
            <setting name="ftpuser" serializeAs="String">
                <value>trtn_21163811</value>
            </setting>
            <setting name="ftppass" serializeAs="String">
                <value>DeadSound1999.</value>
            </setting>
        </Passcus.data>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
